.info__title {
  color: $color-white;
}

.info__text {
  color: $color-white;
}

@media (max-width: $tablet-width - 1px) {
  .info {
    padding: 70px 16px 70px 15px;
  }

  .info__title {
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 16px;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.036em;
  }

  .info__text {
    text-align: center;
    margin: 0;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: -0.005em;
    opacity: 0.8;
    padding-bottom: 70px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .info {
    padding-top: 84px;
    padding-bottom: 70px;
  }

  .info__title {
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.032em;
    padding-left: 121px;
    padding-right: 121px;
  }

  .info__text {
    text-align: center;
    margin: 0;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: -0.005em;
    opacity: 0.8;
    padding-bottom: 80px;
    padding-left: 166px;
    padding-right: 166px;
  }
}

@media (min-width: $desktop-width) {
  .info {
    display: flex;
    justify-content: space-between;
    column-gap: 160px;
    padding-bottom: 240px;
    max-width: 873px;
    margin: 0 auto;
  }

  .info__title {
    font-size: 46px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -0.034em;
    margin-top: 24px;
    margin-bottom: 25px;
    margin-left: -2px;
  }

  .info__text {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: -0.005em;
    text-align: left;
  }
}
