.page-form__input {
  box-sizing: border-box;
  width: 100%;
  background-color: $color-white;
  border: 1px solid $color-border;
  border-radius: 6px;
  padding-top: 14px;
  padding-bottom: 9px;
  margin-bottom: 20px;
  color: rgba($color-fadedgray, 0.5);
  padding-left: 29px;
  font-size: 15px;
  line-height: 24px;
}

.page-form__button {
  width: 100%;
  border: none;
  border-radius: 6px;
  background-color: $color-torquoise;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15px;
  font-weight: 600;
  line-height: 21px;
}

@media (max-width: $tablet-width - 1px) {
  .page-form {
    padding-top: 70px;
  }

  .page-form__text {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.01em;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .page-form {
    padding-top: 70px;
    padding-left: 224px;
    padding-right: 223px;
    max-width: 321px;
  }

  .page-form__text {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.01em;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .page-form {
    position: relative;
    top: -37px;
    right: 41px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .page-form__title {
    font-size: 46px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -0.01em;
  }

  .page-form__text {
    font-size: 17px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.01em;
    text-align: center;
    color: $color-white;
    opacity: 0.8;
  }
}
