$max-desktop-width: 1440px;
$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 320px;

$r: #ff0000;
$color-torquoise: #0ad9c6;
$color-white: #ffffff;
$color-black: #000000;
$color-lightgray: #f6f6f6;
$color-darkgray: #131314;
$color-fadedgray: #1c1c1c;
$color-border: #c9ccd4;
$color-lightblue: #f6f7f9;
